{%- extends 'classic/base.html.j2' -%}

{%- block body -%}
<meta charset="UTF-8">
<style>
    .notebook {
        display: flex;
        flex-direction: column;
        border: None;
    }
    .page-row {
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
    }
    .cell {
        flex: 1;
        margin: 5px;
        padding: 10px;
    }
    .img {
        max-width: 600px;
    }
    .markdown {
        font-size: 16px;
        line-height: 1.5;
        min-width: 600px;
    }
    body {
        margin: 0;
        color: white;
        background-color: black;
    }
</style>

<div class="notebook">
    {% for cell in nb.cells[1:] %}
        {%- if loop.index % 3 == 1 -%}
            <div class="page-row">
        {%- endif -%}

        <div class="cell">
            {%- if cell.cell_type == 'markdown' -%}
                <div class="markdown">{{ cell.source | safe }}</div>
            {%- elif cell.cell_type == 'code' -%}
                {# Skip code cells #}
            {%- elif cell.cell_type == 'raw' -%}
                <div class="raw">{{ cell.source | safe }}</div>
            {%- endif -%}

            {%- if cell.outputs %}
                <div class="outputs">
                    {% for output in cell.outputs %}
                        {%- if output.output_type == 'display_data' and 'image/png' in output.data -%}
                            <img class=img src="data:image/png;base64,{{ output.data['image/png'] }}" />
                        {%- endif -%}
                    {% endfor %}
                </div>
            {%- endif %}
        </div>

        {%- if loop.index % 3 == 0 or loop.last -%}
            </div>
        {%- endif -%}
    {% endfor %}
</div>
{%- endblock body -%}